/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container styles */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Form box */
.form-box {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

button.ui.button {
  background-color: #4caf50;
  color: white;
  display: block;
  margin: 30px auto 0 auto;
  padding: 12px 25px;
  text-align: center;
  font-size: 16px;
}

button.ui.button:hover {
  background-color: #45a049;
}

/* Feedback styles */
.feedback-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.feedback-star {
  font-size: 30px;
  cursor: pointer;
  color: #ccc;
  margin: 0 5px;
}

.feedback-star.active {
  color: #fbc02d;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.confirm-container {
  text-align: center;
  padding: 50px;
}

.confirm-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.confirm-container button {
  background-color: #4caf50;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-container button:hover {
  background-color: #45a049;
}
